server:
  port: 8083

spring:
  application:
    name: data-service
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: classpath:/db/changelog/change-log.xml
    liquibase-schema: public
    enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html